# Lists
# Day 5: 30DaysOfPython Challenge

### Exercises: Level 1

In [1]:
# Declare an empty list
empty_list = []

In [4]:
# Declare a list with more than 5 items
items = ['Apple', 'Ball', 'Cup', 'Door', 'Egg', 'Fan', 'Gate', 'House', 'Ink']

In [5]:
# Find the length of your list
print(len(items))

9

In [6]:
# Get the first item, the middle item and the last item of the list
print(f'First item in the list: {items[0]}')
print(f'Middle item in the list: {items[4]}')
print(f'Last item in the list: {items[-1]}')

First item in the list: Apple
Middle item in the list: Egg
Last item in the list: Ink

In [8]:
# Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types =['Umar', 22, 1.5, 'single', 'Pantami']

In [9]:
# Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [10]:
# Print the list using print()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [11]:
# Print the number of companies in the list
print(len(it_companies))

7

In [12]:
# Print the first, middle and last company
print(f'First company in the list: {it_companies[0]}')
print(f'Middle company in the list: {it_companies[3]}')
print(f'Last company in the list: {it_companies[-1]}')

First company in the list: Facebook
Middle company in the list: Apple
Last company in the list: Amazon

In [13]:
# Print the list after modifying one of the companies
it_companies[0] = 'Meta'
print(it_companies)

['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [21]:
# Add an IT company to it_companies
it_companies.append('NCC')
print(it_companies)

['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'NCC']

In [28]:
# Insert an IT company in the middle of the companies list
it_companies.insert(4, 'NITDA')
print(it_companies)

['Meta', 'Google', 'Microsoft', 'Apple', 'NITDA', 'IBM', 'Oracle', 'Amazon', 'NCC']

In [31]:
# Change one of the it_companies names to uppercase (IBM excluded!)
upper_case = it_companies[0].upper()
it_companies[0] = upper_case
print(it_companies)

['META', 'Google', 'Microsoft', 'Apple', 'NITDA', 'IBM', 'Oracle', 'Amazon', 'NCC']

In [32]:
# Join the it_companies with a string '#;  '
it_companies_joined = '#; '.join(it_companies)
print(it_companies_joined)

META#; Google#; Microsoft#; Apple#; NITDA#; IBM#; Oracle#; Amazon#; NCC

In [35]:
# Check if a certain company exists in the it_companies list.
checking_existence = 'Google' in it_companies
print(checking_existence)

True

In [37]:
# Sort the list using sort() method
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Google', 'IBM', 'META', 'Microsoft', 'NCC', 'NITDA', 'Oracle']

In [38]:
# Reverse the list in descending order using reverse() method
it_companies.reverse()
print(it_companies)

['Oracle', 'NITDA', 'NCC', 'Microsoft', 'META', 'IBM', 'Google', 'Apple', 'Amazon']

In [39]:
# Slice out the first 3 companies from the list
sliced_companies = it_companies[:3]
print(sliced_companies)

['Oracle', 'NITDA', 'NCC']

In [40]:
# Slice out the middle IT company or companies from the list
middle_company = it_companies[4]
print(middle_company)

META

In [42]:
# Remove the first IT company from the list
it_companies.pop(0)

'Oracle'

In [45]:
it_companies

['NITDA', 'NCC', 'Microsoft', 'META', 'IBM', 'Google', 'Apple', 'Amazon']

In [46]:
# Remove the middle IT company or companies from the list
del it_companies[3:5]

In [47]:
it_companies

['NITDA', 'NCC', 'Microsoft', 'Google', 'Apple', 'Amazon']

In [48]:
# Remove the last IT company from the list
it_companies.pop()

'Amazon'

In [49]:
it_companies

['NITDA', 'NCC', 'Microsoft', 'Google', 'Apple']

In [50]:
# Remove all IT companies from the list
it_companies.clear()

In [51]:
it_companies

[]

In [52]:
# Destroy the IT companies list
del it_companies

In [59]:
# Join the following lists:
# front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
# back_end = ['Node','Express', 'MongoDB']

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

joined_list = front_end + back_end

print(joined_list)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [60]:
# After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.
full_stack = joined_list.copy()
full_stack

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

### Exercises: Level 2

The following is a list of 10 students ages:

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

Sort the list and find the min and max age

Add the min age and the max age again to the list

Find the median age (one middle item or two middle items divided by two)

Find the average age (sum of all items divided by their number )

Find the range of the ages (max minus min)

Compare the value of (min - average) and (max - average), use abs() method

In [62]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# sort the list and find the min and max age
ages.sort()
max_age = max(ages)
min_age = min(ages)

In [64]:
# Add the min age and the max age again to the list
ages.append(max_age)
ages.append(min_age)

In [65]:
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 19]

In [66]:
# Find the median age (one middle item or two middle items divided by two)
median_age = (ages[5] + ages[6]) / 2
print(median_age)

24.0

In [67]:
# Find the average age (sum of all items divided by their number )
average_age = sum(ages) / len(ages)
print(average_age)

22.75

In [68]:
# Find the range of the ages (max minus min)
range_ages = max_age - min_age
print(range_ages)

7

In [79]:
# Compare the value of (min - average) and (max - average), use abs() method
value_1 = abs(min_age - average_age)
value_2 = abs(max_age - average_age)
print(value_1 == value_2)

False

In [3]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

In [4]:
# Find the middle country(ies) in the countries list above
total_countries = len(countries)
print('The middle country is: ', countries[total_countries // 2])

The middle country is:  Lesotho

In [6]:
# Divide the countries list into two equal lists if it is even if not one more country for the first half.
middle_country = total_countries // 2
first_half = countries[:middle_country + 1]
second_half = countries[middle_country + 1:]
print('Total number of countries in the first half:', len(first_half))
print('Total number of countries in the second half:', len(second_half))
print("First half of countries:", first_half)
print("Second half of countries:", second_half)

Total number of countries in the first half: 97
Total number of countries in the second half: 96
First half of countries: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']
Second half of countries: ['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [7]:
# ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
first_country, second_country, third_country, *scandic_countries = countries

print("First Country:", first_country)
print("Second Country:", second_country)
print("Third Country:", third_country)
print("Scandinavian Countries:", scandic_countries)

First Country: China
Second Country: Russia
Third Country: USA
Scandinavian Countries: ['Finland', 'Sweden', 'Norway', 'Denmark']